nav{
    background-color: #4c5d67;
}

nav ul li a:hover {
   background-color: transparent;
}

.nav-right{
    border-left: 1px solid hsla(0,0%,100%,.12);
    border-right: 1px solid hsla(0,0%,100%,.12);
    padding: 0 12px;
}

.flag-icon{
    position: relative;
    display: inline-block;
    width: 1.33333333em;
    line-height: 1em;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}

.flag-icon-us{
    height: 20px;
    background-image: url("/assets/flags/us.svg")
}