<div class="container">

      <div class="card">
        <h5>Monthly Visitor Data</h5>
        <div id="dash-chart-1"></div>   
    </div>

    <div style="display: flex;">
      <div class="card" style="width: 40%; padding:10px; margin-right: 20px">
        <h5>Demographics</h5>
        <div id="dash-chart-2"></div>
      </div>
        <div class="card" style="background-color: #a0dfcc; width: 60%; display: flex;">
            <div style="width: 40%;" class="revenue-container">
              <h5>Gross Revenue</h5>
              <h4>9664</h4>
              <hr>
              <h5>Net Revenue</h5>
              <h4>8900</h4>
            </div>
            <div style=" width: 60%;background-color: #55c9a6; border-top-right-radius: 2%; border-bottom-right-radius: 2%;">
              <span style="float: left;" class="revenue-text">Daily Load</span>
              <span style="float: right;" class="revenue-text">77%</span>              
              <div id="linejs"></div>
            </div>
        </div>
    </div>

    
    <div class="row">

       <div class="col m5 s12"> 
        <div class="card" >
          <canvas #radar height="250px"></canvas>
          <table>
            <tbody>
              <tr>
                <td>Performance</td>
                <td>42%</td>
                <td>Graph</td>
              </tr>
            </tbody>
          </table>
        </div>
       </div> 

       <div class="col m7 s12"> 
        <div class="card dash-weather row" >
          <!--<div  > -->
            <div data-toggle="datepicker" class="col m6 s12" style="margin: auto;"></div>
          <!--</div>-->
          <div class="col m6 s12">
            Weather
          </div>
        </div>
       </div> 

    </div>
   
</div>
