<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card center-align">
        <h5>Line Chart</h5>
        <div id="dash-chart-1"></div>        
      </div>
    </div>
    <div class="col m5 s12">
      <div class="card center-align">
        <h5>Demographics</h5>
        <div id="dash-chart-2"></div>
      </div>
    </div>
    <div class="col m7 s12">
      <div class="card center-align">
        <input type="date" class="datepicker">
      </div>
    </div>
  </div>
</div>
