.container{
    width: 90%;
}

.grid{
    column-count: 2;
}

.grid-item-1{
    width: 40%;
}

.dash-demo-container{
    display: flex;
    justify-content: center;
    overflow: hidden;
    /*align-items: center;*/
    /*flex-wrap: wrap;*/
}

.dash-demo-container > .card:first-child{
    margin-right: 20px;
}

.dash-flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dash-flex-1{
    width: 40%;
    margin-right: 10px;
}

.dash-flex-2{
    width: 60%;
    margin-left: 10px;
}

.dash-bar-container{
    display: flex;
    width: 40%;
}

.fade{
    opacity: 0;
    display: none;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.fade.active{
    opacity: 1;
    display: block;
}

.dash-bar-first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    background-color: #ea8564;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
}

.dash-bar-first > div{
    margin: 15px;
}

.card-revenue{
    background-color: #a0dfcc; 
    width: 60%; 
    display: flex;
}

.dash-revenue-container{
    width: 40%;
    margin-top: 10%;
    color: black;
    opacity: .5;
}

.dash-revenue-right{
    width: 60%;
    background-color: #55c9a6; 
    border-top-right-radius: 2%; 
    border-bottom-right-radius: 2%;
}

/*.dash-revenue-container > p{
    margin: 12px 0;
}*/



.revenue-text{
    margin: 5% 5% 0 5%;
    font-size: 1.5rem;
    color: white;
    opacity: .8;
}

.dash-weather{
    background-color: #D67F6B;

}

.datepicker-container{
    font-size: 16px;
    margin: 10% auto;
}

/*@media ( max-width: 500px ){*/

    .datepicker-small{
        margin: 0 auto;
    }
/*}*/

.weather-box{
    margin: 5% auto;
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
    /*background-color: #D67F6B;*/
    color: white;
}

.dash-card-vim{
    /*display: flex;
    flex-direction: column;*/
}

.dash-card-vim-1{
    height: 50px;
    background-color: #debc85;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.dash-card-vim-1 > div.active{
    /*width: 33.3%;
    border-top: 1px solid white;
    border-bottom: 1px solid white;    
    background-color: white;*/
    color: white;
}

.dash-card-vim-1 > div > i{
    cursor: pointer;
    /*height: 50px;
    line-height: 50px;*/
}

.dash-card-vim-2{
    height: 85%;
}

.dash-form{
    padding: 10px 20px;
    text-align: center;
}

.dash-input{
    display: flex;
    align-items: center;
}

.dash-input > input{
    margin-bottom: 0;
}


@media ( max-width: 900px ){

    .dash-demo-container{
        flex-wrap: wrap;
    }
    .dash-demo-container > .card:first-child{
        margin-right: 0;
    }
    .dash-demo-container > .card{
        flex-basis: 100%;
    }

    .dash-flex-container{
        flex-wrap: wrap;
    }
    .dash-flex-1{
        flex-basis: 100%;
        margin-right: 0
    }
    .dash-flex-2{
        flex-basis: 100%;
        margin-left: 0;
    }
}