.container{
    width: 90%;
}

.dash-demo-container{
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    /*flex-wrap: wrap;*/
}

.dash-demo-container > .card:first-child{
    margin-right: 20px;
}

.revenue-container{
    margin-top: 10%;
    color: black;
    opacity: .5;
}

.revenue-container > p{
    margin: 12px 0;
}

.revenue-text{
    margin: 5% 5% 0 5%;
    font-size: 1.5rem;
    color: white;
    opacity: .8;
}

.dash-weather{
    background-color: #D67F6B;

}

.datepicker-container{
    font-size: 16px;
    margin: 10% auto;
}

/*@media ( max-width: 500px ){*/

    .datepicker-small{
        margin: 0 auto;
    }
/*}*/

.weather-box{
    margin: 5% auto;
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
    /*background-color: #D67F6B;*/
    color: white;
}


@media ( max-width: 600px ){

    .dash-demo-container{
        flex-wrap: wrap;
    }

    .dash-demo-container > .card:first-child{
        margin-right: 0;
    }
    .dash-demo-container > .card{
        flex-basis: 100%;
    }
}