.container{
    width: 90%;
}

.dash-demo-container{
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    /*flex-wrap: wrap;*/
}

.dash-demo-container > .card:first-child{
    margin-right: 20px;
}

.dash-bar-container{
    display: flex;
    width: 40%;
}

.fade{
    opacity: 0;
    -webkit-transition: opacity .3s linear;
    transition: opacity .3s linear;
}

.fade.active{
    opacity: 1;
}

.dash-bar-first{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    background-color: #ea8564;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
}

.dash-bar-first > div{
    margin: 15px;
}

.card-revenue{
    background-color: #a0dfcc; 
    width: 60%; 
    display: flex;
}

.dash-revenue-container{
    width: 40%;
    margin-top: 10%;
    color: black;
    opacity: .5;
}

.dash-revenue-right{
    width: 60%;
    background-color: #55c9a6; 
    border-top-right-radius: 2%; 
    border-bottom-right-radius: 2%;
}

/*.dash-revenue-container > p{
    margin: 12px 0;
}*/



.revenue-text{
    margin: 5% 5% 0 5%;
    font-size: 1.5rem;
    color: white;
    opacity: .8;
}

.dash-weather{
    background-color: #D67F6B;

}

.datepicker-container{
    font-size: 16px;
    margin: 10% auto;
}

/*@media ( max-width: 500px ){*/

    .datepicker-small{
        margin: 0 auto;
    }
/*}*/

.weather-box{
    margin: 5% auto;
    /*display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
    /*background-color: #D67F6B;*/
    color: white;
}


@media ( max-width: 600px ){

    .dash-demo-container{
        flex-wrap: wrap;
    }
    .dash-demo-container > .card:first-child{
        margin-right: 0;
    }
    .dash-demo-container > .card{
        flex-basis: 100%;
    }
}