.container{
    width: 90%;
}

.row{
    margin-top: 20px;
}

.revenue-container{
    margin-top: 10%;
    color: black;
    opacity: .5;
}

.revenue-container > p{
    margin: 12px 0;
}

.revenue-text{
    margin: 5% 5% 0 5%;
    font-size: 1.5rem;
    color: white;
    opacity: .8;
}

.datepicker-container{
    font-size: 16px;
    margin: 10% auto;
}

/*@media ( max-width: 500px ){*/

    .datepicker-small{
        margin: 0 auto;
    }
/*}*/