/* You can add global styles to this file, and also import other style files */
 body{
     background-color: #e9f0f5;
 }
 
 header, main, footer {
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }

.card{
    border-radius: 2%;
    text-align: center;
}
